@model GroceryStoreMain.Models.RecipeDetails

@{
    ViewBag.Title = "AddNewRecipeDetail";
    Layout = "~/Views/Shared/_DistributorLayoutPage.cshtml";
}

<h2>AddNewRecipeDetail</h2>
<div class="col-xl-8 col-12">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        @Html.HiddenFor(model => model.r_id)
        @Html.HiddenFor(model => model.created_by)
        @Html.HiddenFor(model => model.created_dtm)
        @Html.HiddenFor(model => model.modified_by)
        @Html.HiddenFor(model => model.modified_dtm)

        <div>
            <h3><i class="fas fa-edit"></i> <span id="recipeName">@Model.name</span></h3>
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="id_name"> Name</label>
                        @Html.EditorFor(model => model.name, new { @class = "form-control", @id = "name" })

                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-12">
                        <label> Description </label>
                        @Html.TextAreaFor(r => r.description, new { @class = "form-control", @maxlength = "512" })
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-12">
                        <label> Comment </label>
                        @Html.TextAreaFor(r => r.comment, new { @class = "form-control", @maxlength = "512" })
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="col-md-6" style="max-height: 50vh; min-height: 30vh;">
                        @*<div id="upload" class="h-100 w-100 border border-primary rounded" style="border-width: 2px !important; border-style: dashed !important;">
                                <i class="far fa-image fa-10x text-primary" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></i>

                            </div>*@

                        <input type="file" id="url" name="url" />

                        @*@Html.TextBoxFor(model => model.description, new { type = "file", @id = "fUpload" })*@
                        <img id="recipeimage" src="#" class="h-100 w-100 border border-primary rounded" alt=" " style="border-width: 2px !important; border-style: dashed !important;" />

                        <br />
                    </div>



                </div>
                <ul id="tag" class="hide">

                    @foreach (var item in ViewBag.Product)
                    {
                        <li id="@item.p_id - @item.pc_id - @item.name">@item.name</li>
                    }
                </ul>
                <div style=" border:1px solid medium">
                    <div class="p-3 m-3 container-fluid" style=" border:1px solid">
                        <div class=" p-3 m-3 bg-secondary text-black">

                            <h3>Step #1</h3>

                        </div>
                        <div class="columns">

                            <div> Instruction: <input type=text class="form-control col-6" /></div>
                            <div >
                                @Html.DropDownList("pc_id", new SelectList(ViewBag.ProductCategory, "pc_Id", "Name"), htmlAttributes: new { @class = "form-control col-6", @id = "categoryrecipe" })
                            </div>
                            <div >
                                <select id="productrecipe" class="form-control col-6">
                                    <option>---Products---</option>
                                </select>

                            </div>
                        </div>
                        @*@Html.DropDownList("pc_id", new SelectList(((List<pro>)ViewBag.ProductCategory), "pc_Id", "Name"), htmlAttributes: new { @class = "form-control" })*@
                    </div>

                </div>

                <div>
                    <div id="RecipeSteps">
                        <h1>HII</h1>
                    </div>
                    <div class="row">
                        <div class="col col-md-12 text-center">
                            <div role="group" class="btn-group">
                                <button type="button" class="btn btn-success shadow-none" onclick="AddRecipeStep()"> Add Step </button>
                                <button type="button" class="btn btn-warning shadow-none"><i class="fas fa-sort-amount-down-alt fa-lg"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br><br><br><br><br><br>
            <div class="row p-2 b-2 border-top text-center" style="background: white;">
                <div class="col-md-3 col-6">
                    <a href="/delete/recipe/10203/" class="btn btn-block btn-danger shadow-none">Delete</a>
                </div>
                <div class="col-md-3 col-6">
                    <a href="/view/recipe/10203"><button class="btn btn-block btn-primary shadow-none">View</button></a>
                </div>
                <div class="col-md-3 col-6">

                    <input type="submit" value="Save" id="Submit" class="btn btn-sm btn-block btn-info shadow-nones" onclick="location.href='@Url.Action("AddNewRecipeDetail", "Recipe", new { recipeDetails = Model })'" />
                </div>
                <div class="col-md-3 col-6">
                    <button type="button" title="Ctrl + Shift + S" class="btn btn-sm btn-block btn-success shadow-none"> Save &amp; View </button>
                </div>
            </div><div></div>
        </div>
        @*</div>*@


    }
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@*@RenderSection("scripts", required: false)*@
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/CustomScript/CustomJS.js"></script>




