@model GroceryStoreMain.Models.Login
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>The Grocery Store - Admin</title>
</head>


<body style="background-color: #eeeeee; overflow-y: hidden;">
    <style>

        .login {
            display: block;
            justify-content: center;
            margin-right: auto;
            margin-left: auto;
            margin-top: 10%;
            margin-bottom: 20%;
            position: relative;
            align-items: stretch;
            box-sizing: border-box;
            height: max-content;
            width: min-content;
        }
    </style>
    <div class="container login" style="width:max-content">
        <div class="col-md-6 left" style="background-color:white;width:stretch">
            <div class="row" style="height:300px" align="center">
                <img src="~/Images/grocerystorelogo.png" />
            </div>

        </div>
        <div class="col-md-6" style="background-color:tomato;color:green;width:stretch">
            <h1 class="page-header">Login</h1>
            @using (@Html.BeginForm(null, null, FormMethod.Post))
            {
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="control-lab"> User Name: </label>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Enter Username" })
                </div>
                <div class="form-group">
                    <label class="control-label"> Password: </label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter Password" })
                </div>
                <div class='text-danger'>@ViewBag.Message</div>
                <div class="form-group">
                    <input type="submit" class="btn-primary" />
                    <input type="reset" class="btn-primary" />
                </div>
            }
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*@Styles.Render("~/Content/bootstrap.min.css")*@
    @Styles.Render("https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css");
    @Scripts.Render("~/bundles/bootstrap")
</body>

</html>