<!DOCTYPE html>

<html>
<head>
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 300PX;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: rebeccapurple;
            overflow-x: hidden;
            padding-top: 20px;
        }

            .sidenav a {
                padding: 6px 6px 6px 32px;
                text-decoration: none;
                font-size: 25px;
                color: whitesmoke;
                display: block;
            }

                .sidenav a:hover {
                    color: antiquewhite;
                    text-decoration: none;
                }

        .main {
            margin-left: 305PX; /* Same as the width of the sidenav */
        }

        @@media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

                .sidenav a {
                    font-size: 18px;
                }
        }
    </style>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>@ViewBag.Title</title>
</head>
<body style="background-color: lightgrey;">
    <div class="sidenav">
        <ul class="navbar-nav  ">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("DistributorProfile","Distributor")">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3"> @Session["Username"].ToString()</div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a href="@Url.Action("Home","Distributor")">
                    <span class="glyphicon glyphicon-th"></span>
                    Home// todo
                </a>
            </li>
            <li class="nav-item ">
                <a href="@Url.Action("Products","Distributor")">
                    <span class="glyphicon glyphicon-th-list"></span>
                    Products
                </a>
            </li>
            <li class="nav-item ">
                <a href="@Url.Action("OrderList","Distributor")">
                    <span class="glyphicon glyphicon-qrcode"></span>
                    View Order//todo
                </a>
            </li>
            <li class="nav-item ">
                //add recipe
                <a href="@Url.Action("ManageDiscount","Distributor")">
                    <span class="glyphicon glyphicon-qrcode"></span>
                    Manage Discounts
                </a>
            </li>
            <li class="nav-item ">
                <a href="@Url.Action("Contact", "Distributor")">
                    <span class="glyphicon glyphicon-earphone"></span>
                    Contact Developer
                </a>
            </li>
            <li class="nav-item ">
                <a href="@Url.Action("Logout", "Distributor")">
                    <span class="glyphicon glyphicon-log-out"></span>
                    Logout
                </a>
            </li>
        </ul>

    </div>
    <div class="main" style="background-color: white;">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/jqueryval")
    <script src="/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>
    @Styles.Render("https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css");

    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link href="~/Content/CustomCss/sb-admin-2.min.css" rel="stylesheet" />
</body>
</html>
