@model IEnumerable<GroceryStoreMain.Models.DiscountModel>

@{
    ViewBag.Title = "ManageDiscount";
    Layout = "~/Views/Shared/_DistributorLayoutPage.cshtml";
}

<div style="margin-left:10px">
    <br />
    <div class="card-header ">
        <h2>ManageDiscount</h2>
    </div>
    <div class="card-body">
        <h5 class="text-info"> @TempData["Message"]</h5>
        <div class="table-responsive">
            <div>
                <a href="@Url.Action("CreateNewDiscount","Distributor")" class="btn btn-outline-info btn-icon-split">
                    <span class="icon text-white-50">
                        <i class=" glyphicon glyphicon-plus-sign"></i>
                    </span>
                    <span class="text">Create New Discount</span>
                </a>
            </div>
            <div><br /></div>
            <table class="table table-bordered table-condensed table-striped table-hover caption-top">
              
                <thead>
                <th>
                    @Html.DisplayNameFor(model => model.discount_percentage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.eff_start_dtm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.eff_end_dtm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product.name)
                </th>

                <th></th>
                </thead>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="10">No Record's found.</td>
                    </tr>
                }
                else
                {

                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.discount_percentage)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.eff_start_dtm)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.eff_end_dtm)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.name)
                            </td>
                            <td>
                                @Html.ActionLink("Remove", "RemoveDiscount", new { id = item.dt_id })
                            </td>

                            @*
                            ADD THIS IF YOU WANT TO HAVE REMOVE BUTTON AS MENU
                            <td>
                            <div class="dropout">
                                <button class="more">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                                <div>

                                    @Html.ActionLink("Remove", "RemoveDiscount", new { id = item.dt_id })

                                </div>
                            </div>
                            <style>
                                .more {
                                    cursor: pointer;
                                    border: none;
                                    background: transparent;
                                }

                                    .more span {
                                        display: block;
                                        width: .25rem;
                                        height: .25rem;
                                        background: #363636;
                                        border-radius: 50%;
                                        pointer-events: none;
                                    }

                                        .more span:not(:last-child) {
                                            margin-bottom: .125rem;
                                        }

                                .dropout {
                                    z-index: 9001;
                                    width: fit-content;
                                    position: relative;
                                    margin-left: auto;
                                    margin-right: auto;
                                }

                                    .dropout div {
                                        position: absolute;
                                        top: -1.1rem;
                                        right: 1.5rem;
                                        transform: scaleX(0);
                                        transform-origin: right;
                                        transition: transform 0.12s ease;
                                    }

                                    .dropout.active div {
                                        transform: scaleX(1);
                                    }
                            </style>
                            <script>
                                        document.querySelector('table').onclick = ({
                                            target
                                        }) => {
                                            if (!target.classList.contains('more')) return
                                            document.querySelectorAll('.dropout.active').forEach(
                                                (d) => d !== target.parentElement && d.classList.remove('active')
                                            )
                                            target.parentElement.classList.toggle('active')
                                        }
                            </script>
                        </td>*@
                        </tr>
                    }
                }

            </table>
        </div>
    </div>
</div>
